{% extends 'base.html' %}
{% load staticfiles %}

{% block breacrumb %}
    {% if unit %}
        <li class="breadcrumb-item"><a href="/start/{{ unit.variable }}">{{ unit.name }}</a></li>
    {% endif %}
    {% if section %}
        <li class="breadcrumb-item"><a href="/start/{{ unit.variable }}/{{ section.variable }}">{{ section.name }}</a></li>
    {% endif %}
{% endblock %}

{% block title %}
    {{ article.title }}
{% endblock %}


{% block content %}
    {% if article.image.file %}
        <img src="/{{ article.image.file.url }}" class="img-fluid">
    {% endif %}
    <div class="article-content text-left">
        {% autoescape off %}
            {{ article.content }}
        {% endautoescape %}
    </div>
    <div class="article-info text-left">
        <b>Автор: </b>
        {{ article.author.username }}
        <b>Дата: </b>
        {{ article.date }}
    </div>
{% endblock %}