{% extends 'base.html' %}
{% load staticfiles %}

{% block tab_title %}
    Med-hub - Контакты
{% endblock %}

{% block breacrumb %}

{% endblock %}

{% block title %}
    Контакты
{% endblock %}


{% block content %}
    <div class="contact">
        <i class="fa fa-envelope-open"></i> <span>mail.hagrid@gmail.com</span>
    </div>
    <div class="contact">
        <i class="fa fa-vk"></i> <span>vk.com/</span>
    </div>
    <div class="contact">
        <i class="fa fa-twitter"></i> <span>twitter.com/</span>
    </div>
{% endblock %}