{% extends 'base.html' %}
{% load staticfiles %}

{% block breacrumb %}

{% endblock %}

{% block title %}
    Лицензия
{% endblock %}


{% block content %}
    <div class="text-left">
        <h4 class="title">Источники материалов</h4>
        <ul>
            <li>
                Информация по анатомии написана с использованием:
                <ul>
                    <li>А. В. Краев, О. В. Резцов - Анатомия человека, 2014</li>
                    <li>М. Г. Привес, Н.К. Лысенков, В. И. Бушкович - Анатомия человека, 2006, издание 12-е</li>
                    <li>Р. Д. Синельников, Я. Р. Синельников - Атлас анатомии человека. Том 1, 1989</li>
                </ul>
            </li>
            <li>
                Большинство иллюстраций позаимствовано с ресурса <a href="http://www.kenhub.com" target="_blank">Kenhub</a>.
            </li>
            <li>
                Гистологические препараты взяты с ресурса <a href="https://histologyknmu.wixsite.com/info/main-ru" target="_blank">ХНМУ</a>
            </li>
        </ul>
    </div>

{% endblock %}