{% extends 'base.html' %}
{% load staticfiles %}

{% block breacrumb %}

{% endblock %}

{% block title %}
    Лицензия
{% endblock %}


{% block content %}
    <div class="text-left">
        <h4 class="title">Источники материалов</h4>
        <ul>
            <li>Большинство иллюстраций позаимствовано с ресурса <a href="http://www.kenhub.com" target="_blank">Kenhub</a></li>
            <li>Гистологические препараты взяты с ресурса <a href="https://histologyknmu.wixsite.com/info/main-ru" target="_blank">ХНМУ</a></li>
        </ul>
    </div>

{% endblock %}