<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="/about">
                        О нас
                    </a>
                </li>
                <li>
                    <a href="/contacts">
                        Контакты
                    </a>
                </li>
                <li>
                    <a href="/license">
                        Лицензия
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, Med-hub
        </div>
    </div>
</footer>